{{#each comparisonItem }}
    <li>
        <p class="clearfix">
            <span class="color_red">{{ name}}</span>
            <span class="ml30">{{ sex}}</span>
            <a class="bazi-uibtn-mini-w del-dif" href="javascript:;">-</a>
            <div class="clearfix"></div>
        </P>
        <p class="dif-left-ganzhi">
            <span class="year">{{ GanZhiYear }}</span>
            <span class="month">{{ GanZhiMonth}}</span>
            <span class="day">{{ GanZhiDay}}</span>
            <span class="hour">{{ GanZhiHour}}</span>
        </p>
        <p class="dif-brith">{{ solarDateStr }}</p>
    </li>
{{/each }}