
{{#each recordlist}}
<li class="uibox-list-item record-list-item" data-did="{{did}}" data-udid="{{udid}}" data-mobile="{{mobile}}">
    <div class="fn-left item-left">
        <p class="namesex">
            <span data-fill="name" class="color_red uname">{{ name }}</span> / 
            <span data-fill="sex" class="usex">{{sex}}</span>
        </p>
        <p class="utag mt10">
            <span data-fill="relClassify" data-classid="{{relClassId}}" class="rel-classify-txt"> {{ relClass }}</span>
             <span data-fill="profClassify" class="prof-classify-txt"> {{ profClass }}</span>
        </p>
    </div>

    <div class="fn-left">
        <ul class="clearfix ganzhi">
            <li data-fill="GanZhiYear" class="year">{{ GanZhiYear }}</li>
            <li data-fill="GanZhiMonth" class="month">{{ GanZhiMonth }}</li>
            <li data-fill="GanZhiDay" class="day">{{ GanZhiDay }}</li>
            <li data-fill="GanZhiHour" class="hour">{{ GanZhiHour }}</li>
        </ul>
        <p class="birthday mt5">
            <span data-fill="solarDateStr">{{ solarDateStr }}</span></br>
            <span data-fill="lunarDateStr">{{{ lunarDateStr }}}</span>
        </p>
    </div>

    <div class="select">
        <span class="select-btn"></span>
        <ul class="select-list">
            <li class="record-edit">编辑资料</li>
            <li class="record-delete">删除好友</li>
            <li class="record-compare">对比</li>
        </ul>
    </div>
    <span class="cur-ico"></span>
</li>
{{/each}}
{{#if noMore}}
    <li data-nomore="true" style="display: none;"></li>
{{/if}}

