{{!好友请求列表}}
<div class="friends_search-wrapper">
    <div class="clearfix">
        <h2 class="f16 fn-left">已发送<strong>{{{data.count}}}</strong>个加好友请求</h2>
        <a class="f16 fn-right my-request" href="/response">查看待回应的请求</a>
        <div class="clearfix"></div>
    </div>
    {{#if data.count}}
    <ul class="search-list clearfix">
        {{#each ../data.list}}
        <li class="uibox-list-item search-item done no-response" data-tuid="{{{tuid}}}">
            <img src="{{{upicture}}}" class="fn-left" width="50" height="50">
            <p class="ml65 f16">
                <span class="color_red name">{{{rname}}}</span>
                <span class="ml30 sex">{{{sex}}}</span>
            </p>
            <p class="ml65">
                <span>{{{province}}}</span>
                <span class="ml10">{{{city}}}</span>
            </p>
            <p class="request-btn-wrap">
                <a class="del-request-btn ml10">已发送请求</a>
                <a class="conf-request-btn" href="javascript:;">撤销</a>
            </p>
        </li>
        {{/each}}
        <div class="clearfix"></div>
    </ul>
    {{else}}
        <div class="no-result" style="margin-top:1em;font-size:16px;">当前没有等待通过的好友请求</div>
    {{/if}}

</div>

{{!单页面js}}
{{#section 'page_js'}}
<script>
    //撤销加好友申请
    $('.conf-request-btn').click(function(){
        var _this = this;

        var ul = $(_this).closest('ul');

        var li = $(_this).closest('li');

        Bazi.pop.show({
            prompt:'确定要撤销好友请求吗？',
            title:'提示',
            btn:[
                {
                    label:'确定',
                    handle:function(cur,o){
                        var flag1 = false, flag2 = false;
                        function cb(){
                            if(!flag1 || !flag2){
                                return;
                            }
                            li.fadeOut(500,function(){
                                $(this).remove();
                                var len = $('.search-list .search-item').length;
                                $('h2 strong').text(len);
                                if(len === 0){
                                    $('.search-list').html('<div class="no-result" style="margin-top:1em;font-size:16px;">当前没有等待通过的好友请求</div>');
                                }
                            });
                        }
                        $.ajax({
                            type:'POST',
                            url:'/ajax/friends',
                            data:{
                                act:'reqrev',
                                fuid:$(_this).closest('li').data('tuid')
                            },
                            success:function(data){
                                if(data.ret === 0){
                                    flag1 = true;
                                    cb();
                                }
                            }
                        });
                        o.after_hide = function(){
                            flag2 = true;
                            cb();
                        };

                    }
                },
                {
                    label:'取消'
                }
            ]
        })


    });


</script>
{{/section}}