<td class="tab liuday" style="display:{{liudaySizhu.display}}">
    <div class="solar">
        <span class="tit">流日</span>
        <span class="big"></span>
        <span>{{liudaySizhu.solarDate}}</span>
    </div>
    <span class="lunar">{{liudaySizhu.ganzhi}}</span>
    <span class="lunar-side shiShen">
        <sup>{{liudaySizhu.shishenT}}</sup>
        <sub>{{liudaySizhu.shishenD}}</sub>
    </span>
    <span class="lunar-side cangGan">
        <sup></sup>
        <sub>{{liudaySizhu.cangganD}}</sub>
    </span>
    <span class="lunar-side wuXing">
        <sup>{{liudaySizhu.wuxingT}}</sup>
        <sub>{{liudaySizhu.wuxingD}}</sub>
    </span>
    <span class="upclose" title="关闭">×</span>
</td>

<td class="tab liuyue" style="display:{{liuyueSizhu.display}}">
    <div class="solar">
        <span class="tit">流月</span>
        <span class="big">{{liuyueSizhu.jieVal}}</span>
        <span>{{liuyueSizhu.solarDate}}</span>
    </div>
    <span class="lunar">{{liuyueSizhu.ganzhi}}</span>
    <span class="lunar-side shiShen">
        <sup>{{liuyueSizhu.shishenT}}</sup>
        <sub>{{liuyueSizhu.shishenD}}</sub>
    </span>
    <span class="lunar-side cangGan">
        <sup></sup>
        <sub>{{liuyueSizhu.cangganD}}</sub>
    </span>
    <span class="lunar-side wuXing">
        <sup>{{liuyueSizhu.wuxingT}}</sup>
        <sub>{{liuyueSizhu.wuxingD}}</sub>
    </span>
    <span class="upclose" title="关闭">×</span>
</td>

<td class="tab liunian" style="display:{{liunianSizhu.display}}">
    <div class="solar">
        <span class="tit">流年</span>
        <span class="big">{{liunianSizhu.age}}</span>
        <span>{{liunianSizhu.year}}</span>
    </div>
    <span class="lunar">{{liunianSizhu.ganzhi}}</span>
    <span class="lunar-side shiShen">
        <sup>{{liunianSizhu.shishenT}}</sup>
        <sub>{{liunianSizhu.shishenD}}</sub>
    </span>
    <span class="lunar-side cangGan">
        <sup></sup>
        <sub>{{liunianSizhu.cangganD}}</sub>
    </span>
    <span class="lunar-side wuXing">
        <sup>{{liunianSizhu.wuxingT}}</sup>
        <sub>{{liunianSizhu.wuxingD}}</sub>
    </span>
    <span class="upclose" title="关闭">×</span>
</td>

<td class="tab dayun" style="display:{{dayunSizhu.display}}">
    <div class="solar">
        <span class="tit">大运</span>
        <span class="big">{{dayunSizhu.age}}</span>
        <span>{{dayunSizhu.year}}</span>
    </div>
    <span class="lunar">{{dayunSizhu.ganzhi}}</span>
    <span class="lunar-side shiShen">
        <sup>{{dayunSizhu.shishenT}}</sup>
        <sub>{{dayunSizhu.shishenD}}</sub>
    </span>
    <span class="lunar-side cangGan">
        <sup></sup>
        <sub>{{dayunSizhu.cangganD}}</sub>
    </span>
    <span class="lunar-side wuXing">
        <sup>{{dayunSizhu.wuxingT}}</sup>
        <sub>{{dayunSizhu.wuxingD}}</sub>
    </span>
    <span class="upclose" title="关闭">×</span>
</td>